../../../.DS_Store
../../.DS_Store
../.DS_Store
.DS_Store
for_canto/.DS_Store
fbbt/src/ontology/enhanced.owl
fbbt/src/ontology/mirror/
fbbt/src/ontology/seed.txt
*.ipynb_checkpoints/
fbbt-edit_checks.txt
oort/
tmp.obo
tmp.owl
tmp2.obo
tmp3.obo
tmp4.obo
tmp6.obo
fbbt/src/patterns/robot_template_projects/descending_neurons/spreadsheets/DN-reformatted.xlsx
fbbt/src/patterns/robot_template_projects/descending_neurons/spreadsheets/similar-neurons.xlsx
fbbt/src/patterns/robot_template_projects/descending_neurons/template.tsv
fbbt/src/patterns/robot_template_projects/template commands.txt
.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/tmp
src/ontology/tmp/*
src/ontology/fbbt.owl
src/ontology/fbbt.obo
src/ontology/fbbt.json
src/ontology/fbbt-base.*
src/ontology/fbbt-basic.*
src/ontology/fbbt-full.*
src/ontology/fbbt-simple.*
src/ontology/fbbt-non-classified.*
src/ontology/fbbt-simple-non-classified.*
src/ontology/fbbt-cedar.obo
semantic.cache
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
*.idea/

src/ontology/merged-fbbt-edit-release.owl
src/ontology/fbbt-test.owl
*.pyc

src/ontology/mappings.sssom.tsv

src/ontology/*-slim.owl
